{% extends'base.html.twig' %}
{% block body %}
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar">

                            <div class="header-search d-flex align-items-center">

                            </div>


                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="profile_log dropdown">
                                        <div class="user" data-toggle="dropdown">
                                            <span class="thumb"><i class="mdi mdi-account"></i></span>
                                            <span class="name">{{ app.user.email }}</span>
                                            <span class="arrow"><i class="la la-angle-down"></i></span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{ path('account') }}" class="dropdown-item">
                                                <i class="mdi mdi-account"></i> Account
                                            </a>
                                            <a href="history.html" class="dropdown-item">
                                                <i class="la la-book"></i> History
                                            </a>
                                            <a href="{{ path('setting') }}" class="dropdown-item">
                                                <i class="la la-cog"></i> Setting
                                            </a>
                                            <a href="lock.html" class="dropdown-item">
                                                <i class="la la-lock"></i> Lock
                                            </a>
                                            <a href="{{ path('logout') }}" class="dropdown-item logout">
                                                <i class="la la-sign-out"></i> Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <a class="brand-logo" href="{{ path('user_page') }}">
                <img src="/builder/images/logo.png" alt="">
                <span>Treemium </span></a>
            <div class="menu">
                <ul>
                    <li>
                        <a href="{{ path('user_page') }}">
                            <span><i class="mdi mdi-view-dashboard"></i></span>
                            <span class="nav-text">Home</span>
                        </a>
                    </li>
                    <li><a href="{{ path('exchange') }}">
                            <span><i class="mdi mdi-repeat"></i></span>
                            <span class="nav-text">Exchange</span>
                        </a>
                    </li>
                    <li><a href="{{ path('account') }}">
                            <span><i class="mdi mdi-account"></i></span>
                            <span class="nav-text">Account</span>
                        </a>
                    </li>
                    <li><a href="{{ path('setting') }}">
                            <span><i class="mdi mdi-settings"></i></span>
                            <span class="nav-text">Setting</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-footer">
                <div class="social">
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="copy_right">
                    © 2020 Quixlab
                </div>
            </div>

        </div>

        <div class="page_title">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page_title-content">
                            <p>Welcome Back,
                                <span> {{ app.user.username }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <h4 class="card-title">Transaction History</h4>
                            </div>
                            <div class="card-body pt-0">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-responsive-sm">
                                            <tbody>
                                            {% for transaction in transactions %}
                                                {% if transaction.type == 'vente' %}

                                                    <tr>
                                                        <td><span class="sold-thumb"><i class="la la-arrow-down"></i></span>
                                                        </td>

                                                        <td>
                                                            <span class="badge badge-danger">{{ transaction.type }}</span>
                                                        </td>
                                                        <td>
                                                            {{ transaction.crypto }}
                                                        </td>
                                                        <td>
                                                            {{ transaction.method }}
                                                        </td>
                                                        <td class="text-danger">{{ transaction.giveM }}</td>
                                                        <td> {{ transaction.status }}</td>
                                                        <td> {{ transaction.date | date("H:m:s   d-m-Y") }}</td>
                                                    </tr>

                                                {% elseif transaction.type == 'achat' %}

                                                    <tr>
                                                        <td><span class="buy-thumb"><i class="la la-arrow-up"></i></span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-success">{{ transaction.type }}</span>
                                                        </td>
                                                        <td>
                                                            {{ transaction.crypto }}
                                                        </td>
                                                        <td>
                                                            {{ transaction.method }}
                                                        </td>

                                                        <td class="text-danger">{{ transaction.receiveM }}</td>
                                                        <td> {{ transaction.status }}</td>
                                                        <td> {{ transaction.date | date("Y-m-d H:m:s") }}</td>

                                                        {% endif %}
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="/builder/vendor/jquery/jquery.min.js"></script>
    <script src="/builder/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{{encore_entry_script_tags('script')}}
{% endblock %}