{% extends 'base.html.twig' %}
{% block body %}
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header landing_page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light px-0 justify-content-between">
                            <a class="navbar-brand" href="{{ path('dashboard') }}"><img src="/builder/images/logo.png" alt="">
                                <span>CRYPTOBANk </span></a>

                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="header_auth">
                                        <a href="{{ path('login') }}" class="btn btn-primary">Sign In</a>
                                        <a href="{{ path('register') }}" class="btn btn-outline-primary">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page_title pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-sm-6 col-6">
                        <div class="page_title-content">
                            <p>Dernière mise à jour : 21 octobre 2020</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 col-6 text-sm-left">
                        <ul class="text-right breadcrumbs list-unstyle">
                            <!-- <li><a href="./settings.html">Settings </a></li> -->
                            <li class="active"><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="about py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <div class="about_content">
                            <div class="our_vision">
                                <h3>NOTRE VISION
                                </h3>
                                <p>La croissance des objets virtuels et des microtransactions a été énorme au cours des dernières années. Les prix de ces articles ou microtransactions sont souvent le double du prix du jeu lui-même. Nous comprenons que les gens veulent ces récompenses exclusives dans le jeu, mais nous voyons aussi à quel point elles sont trop chères pour beaucoup. C'est pourquoi nous avons eu l'idée, CryptobanK .
                                </p>
                                <p>Nous avons commencé à fournir un service directement ciblé sur le jeu Counter-Strike: Global Offensive, mais nous avons rapidement réalisé que cela avait le potentiel d'atteindre un public beaucoup plus large. Maintenant, nous avons étendu notre service non seulement aux joueurs, mais aussi à d'autres qui souhaitent acheter des cartes-cadeaux dans leur lieu préféré, des devises Treemium pour commencer leur aventure CryptobanK , ou simplement envoyer de l'argent PayPal à dépenser pour ce que vous voulez.</p>
                                <p>Nous sommes enthousiasmés par ce que l'avenir nous réserve, et nous proposerons en permanence des mises à jour et de nouvelles fonctionnalités pour que CryptobanK reste la plate-forme leader de l'industrie GPT.
                                </p>
                                <p>The growth of virtual items and microtransactions have been enormous over the last few years. The prices for these items or microtransactions are often twice the price of the game itself. We understand people want these exclusive in-game rewards, but we also see how they are too expensive for many. Therefore we came up with the idea, CryptobanK .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer-link text-left">
                            <a href="#" class="m_logo"><img src="/builder/images/logo.png" alt=""></a>
                            <a href="{{ path('about') }}">About</a>
                            <a href="{{ path('privacy') }}">Privacy Policy</a>
                            <a href="{{ path('condition') }}">Term & Service</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12 text-center text-lg-right">
                        <div class="copy_right text-center text-lg-center">
                            Copyright © 2020 Quixlab. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/builder/vendor/jquery/jquery.min.js"></script>
    <script src="/builder/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    {{ encore_entry_script_tags('script') }}
{% endblock %}